<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>

	<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>
		create new users
	</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>

<body>
	<div class="container-fluid text-center">


		<img th:src="@{/images/ShopmeAdminBig.png}" />


		<form th:action="@{/login}" method="post" style="max-width:350px; margin: 0 auto">
			<div th:if="${param.error}">
			<p> kujbdfj[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]] </p>
			
			</div>
			
			
			<div class="border border-secondory rounded p-3">
				<p>Access to shopme control</p>
				<P>
					<input type="email"  name="email"  placeholder="E-mail" class="form-control"  required />
				</P>
				<P>
					<input type="password"  name="password"class="form-control" placeholder="Passwsord" required />
				</P>
		
			<P>
				<input type="submit" value="login" class="btn-primary" placeholder="Login" required />
			</P>

		</form>
			</div>
	</div>

	<div>

		<h1>Login</h1>

	</div>

</body>

</html>