<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>

	<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>
		create new users
	</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
	<div>


		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/ShopmeAdminSmall.png}" /></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Links -->
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">categories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/brands}">brands</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/products}">products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">customers</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping}">shipping</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">orders</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/reports}">reports</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">menus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">settings</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div>

		<h2>Manage users |Create new user</h2>

		<form th:action="@{/users/save}" method="post"  style="max-width: 800px; margin: 0 auto" 
		th:object="${user}"  onsubmit="return checkEmailUnique(this)">
			<div class="border border-secondory rounded p-3">
				<div class="form-group row m-3">
					<label class="col-sm-4 col-form-Label">E-Email</label>

					<div class="col-sm-8">
						<input type="email" class="form-control" th:field="*{email}" required />
					</div>

				</div>
				<div class="form-group row m-3">
					<label class="col-sm-4 col-form-Label">firstName</label>

					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{firstName}" required />
					</div>

				</div>
				<div class="form-group row m-3">
					<label class="col-sm-4 col-form-Label">Last Name</label>

					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{lastName}" required />
					</div>

				</div>



				<div class="form-group row m-3">
					<label class="col-sm-4 col-form-Label">Password</label>

					<div class="col-sm-8">
						<input type="password" class="form-control" th:field="*{password}" required maxlength="8"
							 />
					</div>
				</div>
				
					<div class="form-group row m-3">
					<label class="col-sm-4 col-form-Label">Roles:</label>

					<div class="col-sm-8">
					<th:block th:each="role: ${role}">
					<input type="checkbox" th:field="*{roles}"
					th:text="${role.name}"
					th:value="${role.id}"
					
					/>
					- <small class="m-4">[[${role.description}]]</small>
					<br>
					</th:block>
					</div>
				</div>
				
				<div class="form-group row m-3">
					<label class="col-sm-4 col-form-Label">Enabled</label>

					<div class="col-sm-4">
						<input type="checkbox" th:field="*{enabled}"
					</div>

				</div>
				
			</div>

			
			<div class=text-center>
				<input type="submit" value="save" class="btn btn-primary m-3" />
				<input type="button" value="cancel" class="btn btn-secondary" id="btn1" />
			</div>


	</div>
	</form>
</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	$("#btn1").on("click", function(){

		
		window.location="[[@{/users}]]";
	});
}
);

function checkEmailUnique(form){
	

	url="[[@{/user/user_email}]]";
	alert(url);
	useremail = $("#email").val();
	alert(useremail);
	csrf=$("input[name='_csrf']").val();
	alert(csrf);
	console.log(useremail );
	console.log(csrf);
	params={email : useremail,_csrf : csrfvalue};
	console.log(params);
	alefrt("dv")
	$.post(url, params,function(response) {
		alert("response from server"+ response);
			if(response =="ok"){
				alert("edfkehhfieof");
				form.submit;
			}
			else if(response =="duplicated"){
	alert("check email uniuq "+ response)
				
			}
		
	});
	alert("check email uniuq");
	return false;
}

</script>
</body>
</html>